<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report</title>

    <style>
        body {
            display: flex;
            justify-content: center;
            margin: 0;
        }

        table {
            border-collapse: collapse;
            width: 60%;
            padding: 10px;
            margin: 20px;
        }

        th, td {
            padding: 5px;
            text-align: center;
            border: 1px solid black;
        }

    </style>
</head>
<body>
<table>
    <thead>
    <tr>
        <th colspan="6" th:text="${reportName}"></th>
    </tr>
    </thead>

    <tbody>
    <tr>
        <td th:each="displayField : ${reportDisplayFields}" th:text="${displayField}"></td>
    </tr>
    <tr th:each="customer : ${customers}">
        <td th:if="${customer.customerID != null}" th:text="${customer.customerID}"></td>
        <td th:if="${customer.name_En != null}" th:text="${customer.name_En}"></td>
        <td th:if="${customer.name_AR != null}" th:text="${customer.name_AR}"></td>
        <td th:if="${customer.phone_Number != null}" th:text="${customer.phone_Number}"></td>
        <td th:if="${customer.address_EN != null}" th:text="${customer.address_EN}"></td>
        <td th:if="${customer.address_AR != null}" th:text="${customer.address_AR}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
